.micejs-sidemenu {
}

.micejs-sidemenu .nav-container {
  z-index: 99998;
  position: absolute;
  left: -50%;
  top: 0;
  background: #CD5334;
  height: 100%;
  width: 150px;
}

.micejs-sidemenu .btn-nav:hover { cursor: pointer; }

.micejs-sidemenu .btn-nav:hover .bar { background: #17BEBB; }

.micejs-sidemenu .bar {
  display: block;
  height: 5px;
  width: 50px;
  background: #fff;
  margin: 10px auto;
}

.micejs-sidemenu .btn-nav {
  z-index: 99999;
  display: block;
  padding: 15px 0;
  width: 50px;
  position: fixed;
  left: 20px;
  bottom: 0px;
  margin: 0 auto;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.micejs-sidemenu .btn-nav:focus { outline: none; }

.micejs-sidemenu button.btn-nav {
  background: none;
  border: none;
}

.micejs-sidemenu button.btn-nav::-moz-focus-inner {
  border: 0;
}

.micejs-sidemenu :focus { outline: none; }

.micejs-sidemenu ::-moz-focus-inner {
  border: 0;
}

.micejs-sidemenu .middle { margin: 0 auto; }

.micejs-sidemenu .bar {
  -webkit-transition: all .7s ease;
  -moz-transition: all .7s ease;
  -ms-transition: all .7s ease;
  -o-transition: all .7s ease;
  transition: all .7s ease;
}

.micejs-sidemenu .animated {
  z-index: 99999;
}

.micejs-sidemenu .animated .arrow-top-r {
  z-index: 99999;
  -webkit-transform: rotateZ(-45deg) translateY(11px);
  -moz-transform: rotateZ(-45deg) translateY(11px);
  -ms-transform: rotateZ(-45deg) translateY(11px);
  -o-transform: rotateZ(-45deg) translateY(11px);
  transform: rotateZ(-45deg) translateY(11px);
  width: 25px;
}

.micejs-sidemenu .animated .arrow-middle-r {
  z-index: 99999;
  -webkit-transform: translateX(25px);
  -moz-transform: translateX(25px);
  -ms-transform: translateX(25px);
  -o-transform: translateX(25px);
  transform: translateX(25px);
}

.micejs-sidemenu .animated .arrow-bottom-r {
  z-index: 99999;
  -webkit-transform: rotateZ(45deg) translateY(-11px);
  -moz-transform: rotateZ(45deg) translateY(-11px);
  -ms-transform: rotateZ(45deg) translateY(-11px);
  -o-transform: rotateZ(45deg) translateY(-11px);
  transform: rotateZ(45deg) translateY(-11px);
  width: 25px;
}

.micejs-sidemenu .nav-list {
  cursor: pointer;
  list-style-type: none;
  top: 40%;
  text-align: center;
  position: relative;
  margin: 0;
  padding: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.micejs-sidemenu .list-item {
  margin: 20px auto;
  border: 2px solid #fff;
  width: 50px;
  padding: 15px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.micejs-sidemenu li.list-item,
.micejs-sidemenu li.list-item:before,
.micejs-sidemenu li.list-item:after {
  -webkit-box-sizing: content-box !important;
  -moz-box-sizing: content-box !important;
  box-sizing: content-box !important;
}

.micejs-sidemenu .list-item:hover {
  border: 2px solid #17BEBB;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.micejs-sidemenu .list-item:hover .fa {
  color: #17BEBB;
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.micejs-sidemenu .list-item a {
  color: #fff;
  font-size: 1.7em;
  display: block;
  width: 100%;
}

.micejs-sidemenu .fa {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

@keyframes micejs-show-nav {
  from { left: -100%; }
  to { left: 0; }
}
@-webkit-keyframes micejs-show-nav {
  from { left: -100%; }
  to { left: 0; }
}
@-moz-keyframes micejs-show-nav {
  from { left: -100%; }
  to { left: 0; }
}
@-o-keyframes micejs-show-nav {
  from { left: -100%; }
  to { left: 0; }
}
.micejs-sidemenu .show-nav {
  -webkit-animation: micejs-show-nav .5s ease forwards;
  -moz-animation: micejs-show-nav 1s ease forwards;
  -o-animation: micejs-show-nav 1s ease forwards;
  animation: micejs-show-nav .5s ease forwards;
}

@keyframes micejs-hide-nav {
  from { left: 0; }
  to { left: -100%; }
}
@-webkit-keyframes micejs-hide-nav {
  from { left: 0; }
  to { left: -100%; }
}
@-moz-keyframes micejs-hide-nav {
  from { left: 0; }
  to { left: -100%; }
}
@-o-keyframes micejs-hide-nav {
  from { left: 0; }
  to { left: -100%; }
}
.micejs-sidemenu .hide-nav {
  -webkit-animation: micejs-hide-nav 1s ease forwards;
  -moz-animation: micejs-hide-nav 1s ease forwards;
  -o-animation: micejs-hide-nav 1s ease forwards;
  animation: micejs-hide-nav 1s ease forwards;
}

.micejs-sidemenu .hidden { display: none; }
